<div class="w-full h-screen bg-[var(--color-bg-card)] ">
    <div class="w-full h-full   pt-6 pl-4 clipped-shape flex flex-col ">
        <!-- <img src="assests/pictures/auth-page/authRightImg.jpg" class="w-full h-full object-cover rounded-lg" /> -->
         <nav class="menu text-white login flex w-full justify-start gap-3">
            <ul class="flex  w-full justify-start gap-3">

              <li>
                <a routerLink="/auth/login" routerLinkActive="active">Login</a>
              </li>
              <li>
                <a routerLink="/auth/signup" routerLinkActive="active" >Sign Up</a>
              </li>
            </ul>
            </nav>
        <div class="flex flex-1 gap-3 flex-col justify-center">
             <div class="w-full justify-start flex">
             <div class="bg-white/20 backdrop-blur-md p-2 rounded-full  w-3/4 text-center text-white text-sm">
               <div class="flex justify-center gap-1 items-center ">
                <div class="size-14  rounded-full bg-[#1E2229] text-white flex items-center justify-center shrink-0">x</div>
                <div class="flex flex-col text-start">
                  <p class="text-cbase ">Faster Checkout</p>
                  <p class="text-cxs text-helper">Securely save your billing and shipping details for a seamless experience.</p>
                </div>
               </div>
             </div>
             </div>

             <div class="w-full md:justify-end justify-start flex">
             <div class="bg-white/20 backdrop-blur-md p-2 rounded-full  w-3/4 text-center text-white text-sm">
               <div class="flex justify-start gap-1 items-center ">
                 <div class="flex flex-col text-center">
                   <p class="text-cbase ">Track Orders</p>
                   <p class="text-cxs text-helper">Monit or your purchases in real time, from processing to delivery.</p>
                  </div>
                  <div class="size-14  rounded-full bg-[#1E2229] text-white flex items-center justify-center shrink-0">x</div>
               </div>
             </div>
             </div>
        </div>
        </div>
    </div>




   <svg width="0" height="0" style="position: absolute;">
      <defs>
        <clipPath id="responsiveTrapezoid" clipPathUnits="objectBoundingBox">
          <path d="M 0.1,0 H 0.9 Q 1,0 1,0.1 V 0.9 Q 1,1 0.9,1 H 0.3 Q 0.05,1 0.03,0.92 L 0,0.08 Q 0,0 0.1,0 Z" />
        </clipPath>
      </defs>
    </svg>
