<section
  class="grid grid-cols-1 gap-6 rounded-[2.5rem] bg-[var(--color-bg-primary)] p-4 md:p-6 xl:grid-cols-12 xl:gap-8"
>
  <div class="xl:col-span-4">
    <app-product-info-tabs [product]="product()" />
  </div>

  <div class="xl:col-span-4">
    <app-product-image-carousel [images]="product().images" />
  </div>

  <div class="xl:col-span-4">
    <app-product-purchase-panel
      [product]="product()"
      (addToCart)="addToCart.emit()"
      (checkout)="checkout.emit()"
    />
  </div>
</section>
